* {
    margin: 0;
    box-sizing: border-box;
}

#Title {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    

}

.techstore {
    padding-left: 20px;
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

.kundvagn {
    color: white;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-grow: 1;
    flex-direction: row;
    background-color: black;
    
}

.fa-shopping-cart {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
    
}


.phoneList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

    border: 1px solid rgb(85, 85, 238);

    width: 25em;
    height: 25em;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buttonContainer {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 250px;
    height: 50px;
    background-color: rgb(92, 92, 241);
    border-radius: 10px;
    color: white;
}

.phoneImg {
    height: 70vh;
    width: 300px;
}

