* {
    margin: 0;
    box-sizing: border-box;
}

#Title {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    

}

.techstore {
    padding-left: 20px;
    padding-top: 15px;
    color: white;
    text-decoration: none;
}

.kundvagn {
    color: white;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-grow: 1;
    flex-direction: row;
    background-color: black;
    
}

.fa-shopping-cart {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
    
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    font-family: 'Work Sans', sans-serif;
}

.titleText {
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;

}

.buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 370px;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(12, 153, 247);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 20px;
    padding-top: 12px;
    font-size: 27px;
}

.priceText {
    display: fle;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Franklin', sans-serif; 
    font-weight: bold;

}

.phoneImg {
    height: 50vh;
    width: 220px;
}

.productContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.priceText {
    margin-bottom: 20px;
    margin-top: 10px;
}

.descriptionText {
    margin-top: 20px; 
    margin-bottom: 20px;
    font-weight: bold;
}


.cartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 25px;
}

span {
    margin-top: 40px;
    font-size: 20px

}

